

p1 {
    text-align:justify;	
    text-justify:distribute;
    font-family: "Times New Roman", serif; 
    font-style: justify ; 
    font-size: 12px;
}

#p2 
 {
    quotes:string;
    font-family: "Comic Sans"'
    font-size: 10px'
    
}

h1
{
    font-family:"Arial";
    font-weight: 900%'
    font-size: 3em;
    background-color:   #b3b3ff;
  }
 h2, h3, {
	font-family: "Lucida Console", monoscpace; 
    front-weight: 660%
    font-size: 3em
}
h4, h5, h6, {
	font-family: "Lucida Console", monoscpace; 
    front-weight: 400;
    font-size: 2em;
    font-style: inherit;
    text-color: grey;
}
