ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #gray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}
/**
od ul atrybuty górnego menu
*/

div.container {
    border: 5px solid red;
    margin-left: 100px;
}

div.left {
    margin-left: inherit;
}

/** poniżej kolorowe gradientowe tło */
body {
    height: 100%;
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0,0,255,0), rgba(200,0,0,1)); /* Standard syntax (must be last) */
}


div.box {
 {
    margin: 20px;
    padding: 10px;
    width: 300px; 
    height: 100px;
    border: 1px solid black;
    outline: 1px solid red;
    /* Move the outline 15px away from the border */
    outline-offset: 15px;
} 


